    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        border: none;
        outline: none;
    }
    
     :root {
        --azul: #6d6dff;
        --azuloscuro: #4a4dff;
        --gris: #cccccc;
        --grisclaro: #aaaaaa;
        --violeta: #330077;
    }
    
    h1 {
        font-size: 36px;
        text-shadow: 3px 2px 10px red;
    }
    
    h2 {
        font-size: 24px;
        text-shadow: 3px 2px 8px red;
    }
    
    #navbar {
        background-color: var(--gris);
        width: 100vw;
        height: 60px;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        box-shadow: 2px 2px 12px 1px var(--grisclaro);
    }
    
    .navbar-enlace {
        height: 100%;
        display: inline-block;
        margin-right: 40px;
        display: flex;
        align-items: center;
        padding: 0 15px;
        font-size: 1.4em;
        color: ;
        text-shadow: 1px 1px 2px var(--azul);
    }
    
    .navbar-enlace:hover {
        background-color: var(--azul);
        color: var(--gris);
        text-shadow: 1px 1px 2px black;
    }
    
    #welcome-section {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--violeta);
        color: var(--grisclaro);
    }
    /*321313132131321321321321321321321313131321*/
    /******************************************/
    
    #projects {
        width: 100%;
        background-color: green;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .project-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .project-tile-img {
        width: 80%;
    }
    
    #contacto-div {
        width: 100vw;
        height: 70vh;
        background-color: yellow;
    }
    
    #footerr {
        width: 100vw;
        height: 30vh;
        background-color: yellow;
        border-top: 2px solid red;
    }