* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
 :root {
    --azul: #6d6dff;
    --azuloscuro: #4a4dff;
    --gris: #cccccc;
    --grisclaro: ;
    --violeta: #330077;
}

#fotoJuan{
    border-radius:50%;
    max-width: 250px;
}
a{
    color:rgb(82, 220, 255);
}
a:hover{
    color:#e4a41c
}