<div class="footer w-full p-3 px-4">

    <div class="container">


        <div class="flex  text-wrap">Si quieres comunicarte conmigo o ver alguno de mis trabajos:</div>
        <div class="container row gap-3">

            <a class="text-decoration-none text-light col" href="https://github.com/jortegah79"><i
                        style="font-size:25px" class="bi bi-github ">GitHub</i></a>
            <a class="text-decoration-none text-light col " href="https://www.linkedin.com/in/juanortegah/"><i
                                style="font-size:25px" class="bi bi-linkedin">LinkedIn</i></a>
        </div>
    </div>


</div>