<div class="container-fluid footer py-4">
    <div class="container">
        <div class="row  text-center ">
            <h4 class="col-12 mb-3 text-center text-wrap">Si quieres comunicarte conmigo o ver alguno de mis trabajos:</h4>
            <a class="text-decoration-none text-light col-6" href="https://github.com/jortegah79"><i
                    style="font-size:25px" class="bi bi-github ">GitHub</i></a>
            <a class="text-decoration-none text-light col-6" href="https://www.linkedin.com/in/juanortegah/"><i
                    style="font-size:25px" class="bi bi-linkedin">LinkedIn</i></a>
        </div>
    </div>
</div>