<div class="container-fluid p-0 overflow-x-hidden">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">

                <ul class="navbar-nav">
                    @for (ruta of rutas; track $index) {
                    <li [routerLink]="ruta.path" routerLinkActive="active" class="nav-link"> {{ruta.title}} </li>
                    }
                </ul>

            </div>
        </div>

    </nav>
    <div class="fondo-hero ">
        <div class=" py-2 py-md-5 px-4">


            <div class="d-flex justify-content-center align-items-center mt-md-5 mb-4">
                <img class="text-center rounded-5  img-hero" src="assets/img/desarrollador.jpeg" />
            </div>

            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="col">
                    <texto-component class="mt-4" title="{{title1}}"></texto-component>
                    <texto-component class="mt-1" texto="{{texto1}}"></texto-component>
                </div>
                <div class="col">
                    <title-component></title-component>
                </div>
            </div>
            <div class="row justify-content-center align-items-center px-3">

                <div class="col-12 col-md-6 mb-2 animate__animated animate__lightSpeedInLeft animate__delay_4s animate__slow"
                    id="first">
                    <texto-component class="mt-4 text-center text-md-start" title="{{title2}}"></texto-component>
                    <texto-component class="mt-1" texto="{{texto2}}"></texto-component>
                </div>
                <div class="col-12 col-md-6 "></div>


                @defer(on viewport()){
                <div class="col-12  mb-2 pt-2 ">
                    <div class="row pe-3">
                        <div class="col-12 col-md-3"></div>
                        <div class="col-12 col-md-6 animate__animated animate__lightSpeedInLeft animate__delay_5s animate__slow"
                            id="second">
                            <texto-component texto="{{texto3}}"></texto-component>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>

                }@placeholder() {
                <span>...</span>

                }
            </div>
            @defer( on viewport()){
            <div class="col-12 ">
                <div class="row pe-3">
                    <div class="col-12 col-md-6"></div>
                    <div class="col-12 col-md-6 animate__animated animate__lightSpeedInLeft animate__delay_6s animate__slow"
                        id="third"> <texto-component texto="{{texto4}}"></texto-component></div>
                </div>
            </div>
            }@placeholder {
            <span></span>
            }
        </div>

    </div>
    <div class=" background-skills p-4">

        <h3 class="text-start  mb-3">Tengo habilidades en ...</h3>
        <div class="row column-gap-5">

            @for (tec of tecnologias; track $index) {
            <img class="d-block col-2 m-auto col-md-1 mx-auto  my-2 tecnologia shadow" [src]="tec.url"
                alt="{{tec.title}}">
            }
        </div>
    </div>
    <div class="p-3  fondo-works ">
        <div class="row   ">
            <div class="col-12">
                <h3 class=" my-4 mx-md-5 mx-4">Mis trabajos</h3>
            </div>
            <div class="col-12 pe-4 text-wrap">
                Estos son algunos de los trabajos profesionales y personales en los que he participado.
            </div>
            @for (prod of proyectos; track $index) {
            <proyecto [proyecto]="prod"></proyecto>
            }
        </div>
    </div>
    <div class=" footer row p-4 mb-0">
        <div class="col-12  text-center ">
            <div class="row">

                <h4 class="col-12 mb-3 text-center text-wrap">Si quieres comunicarte conmigo o ver alguno de mis
                    trabajos:
                </h4>
                <a class="text-decoration-none text-light col-6" href="https://github.com/jortegah79"><i
                        style="font-size:25px" class="bi bi-github ">GitHub</i></a>
                <a class="text-decoration-none text-light col-6" href="https://www.linkedin.com/in/juanortegah/"><i
                        style="font-size:25px" class="bi bi-linkedin">LinkedIn</i></a>
            </div>
        </div>
    </div>
</div>