.footer{
    
    background:#090909;
    color:aliceblue;
}
.fondo-hero{
    background: rgb(0, 0, 0);  
    min-height: 100vh;  
    color: white;
  }
  img.img-hero{
    max-width: 400px;
    width:95vw;
  }
  .fondo-works{
    background: teal; 
     color:#f3f3f3;
   }

   .nav-link{
    color: rgb(187, 211, 243)!important;
    font-size:24px;
    transition:all 0.5s;
}
.nav-link:hover{
    color: rgb(24, 113, 230, 1)!important;
    font-size:26px;
}
nav{
    background-color:#000000 !important;
    margin-bottom:0!important;
}
li{
    cursor:pointer;
    color:white;
   /*  margin-right:15px;*/
}
.background-skills{
    background-color: rgb(146, 5, 104);
    color: #f3f3f3;
}