<div class="fondo-hero  ">
    <div class=" py-2 py-md-5 px-4">


        <div class="d-flex justify-content-center align-items-center mt-md-5 mb-4">
            <img class="text-center rounded-5  img-hero" src="assets/img/desarrollador.jpeg" />
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="col">
                <texto-component class="mt-4" title="{{title1}}"></texto-component>
                <texto-component class="mt-1" texto="{{texto1}}"></texto-component>
            </div>
            <div class="col">
                <title-component></title-component>
            </div>
        </div>
        <div class="row justify-content-center align-items-center px-3">

            <div class="col-12 col-md-6 mb-2 animate__animated animate__lightSpeedInLeft animate__delay_4s animate__slow"
                id="first">
                <texto-component class="mt-4 text-center text-md-start" title="{{title2}}"></texto-component>
                <texto-component class="mt-1" texto="{{texto2}}"></texto-component>
            </div>
            <div class="col-12 col-md-6 "></div>


            @defer(on viewport()){
            <div class="col-12  mb-2 pt-2 ">
                <div class="row pe-3">
                    <div class="col-12 col-md-3"></div>
                    <div class="col-12 col-md-6 animate__animated animate__lightSpeedInLeft animate__delay_5s animate__slow"
                        id="second">
                        <texto-component texto="{{texto3}}"></texto-component>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>

            }@placeholder() {
            <span>...</span>

            }
        </div>
        @defer( on viewport()){
        <div class="col-12 ">
            <div class="row pe-3">
                <div class="col-12 col-md-6"></div>
                <div class="col-12 col-md-6 animate__animated animate__lightSpeedInLeft animate__delay_6s animate__slow"
                    id="third"> <texto-component texto="{{texto4}}"></texto-component></div>
            </div>
        </div>
        }@placeholder {
        <span></span>
        }
    </div>

</div>