<h1 class=" px-2 text-center"><span class="titulo">{{titulo }}</span>
    <span class="nom-tiempo" id="nom1">J</span>
    <span class="nom-tiempo" id="nom2">u</span>
    <span class="nom-tiempo" id="nom3">a</span>
    <span class="nom-tiempo" id="nom4">n </span>
    <span class="nom-tiempo" id="nom5">O</span>
    <span class="nom-tiempo" id="nom6">r</span>
    <span class="nom-tiempo" id="nom7">t</span>
    <span class="nom-tiempo" id="nom8">e</span>
    <span class="nom-tiempo" id="nom9">g</span>
    <span class="nom-tiempo" id="nom10">a</span>
  </h1>
  <h2 class=" text-center ">{{subtitulo}}</h2>
