
.nom-tiempo {
  color: rgb(24, 113, 230);
  font-size: 44px;
  animation:forwards;
  animation-duration: 4s;
  animation-name: appear;
  animation-iteration-count: infinite;
}

#nom1 {
  animation-delay: 0;
}

#nom2 {
  animation-delay: 0.2s;
}

#nom3 {
  animation-delay: 0.4s;
}

#nom4 {
  animation-delay: 0.6s;
}

#nom5 {
  animation-delay: 0.8s;
}

#nom6 {
  animation-delay: 1s;
}

#nom7 {
  animation-delay: 1.2s;
}

#nom8 {
  animation-delay: 1.4s;
}

#nom9 {
  animation-delay: 1.6s;
}

#nom10 {
  animation-delay: 1.8s;
}

@keyframes appear {

  0% {
    color: rgb(24, 113, 230, 0);
  }

  20% {
    color: rgb(24, 113, 230, 1);
  }

  95% {
    color: rgb(24, 113, 230, 1);
  }

  100% {
    color: rgb(24, 113, 230, 0);
  }
}
