<div class="fondo-works  p-4">
    <div class="d-flex justify-content-center ">


        <div class="col-12 col-md-9 mx-auto ">

            <div class="">

                <h3 class="">Mis trabajos</h3>
                <span class="text-wrap  pt-2">
            Estos son algunos de los trabajos profesionales y personales en los que he participado.            
               </span>
            </div>



            <div class="  row  mt-4 gap-3 gap-md-5">
                @for (prod of proyectos; track $index) {
                <div class="col-11 col-md-5">
                    <div class="">
                        <proyecto [proyecto]="prod"></proyecto>
                    </div>
                </div>
                }
            </div>

        </div>
    </div>
</div>