<div class="bg-portfolio">
  <div class="container  ">
    <div class="row pt-5">
      <div class="col-12 offset-md-3 col-md-6 ">
        <title-component />
      </div>
    </div>

    <div class="row my-5">
      <div>

      </div>
    </div>

    <div class="col-12 row m-md-3">

      <texto-component title="{{title1}}" texto="{{texto1}}"></texto-component>
      <texto-component class="mt-2" texto="{{texto2}}"></texto-component>
      <texto-component texto="{{texto3}}"></texto-component>
      <texto-component texto="{{texto4}}"></texto-component>
      <texto-component class="mt-2" title="{{title2}}" texto="{{texto5}}"></texto-component>
      <texto-component texto="{{texto6}}"></texto-component>
      <texto-component texto="{{texto7}}"></texto-component>

    </div>
  </div>
</div>

<div class="p-3" id="fondo-pantalla2">
  <div class="container my-5">
    <div class="row gap-5">
      <img class="d-block col-3  m-auto tecnologia" *ngFor="let tec of tecnologias" [src]="tec.url">
    </div>
  </div>
</div>

<div class="p-3" id="fondo-pantalla3">
  <div class="container ">
    <div class="row   ">
      <h3 class="col-12 m-2">Estos son algunos de mis trabajos personales.</h3>
      <div class="col-6 mt-4" *ngFor="let prod of proyectos">
        <proyecto [proyecto]="prod"></proyecto>
      </div>
    </div>
  </div>
</div>
<!--
<div class="row">
  <p class="col-12 m-3">Estos son algunos de mis trabajos personales.</p>
  <div class="col-6" *ngFor="let prod of proyectos">
    <proyecto [proyecto]="prod"></proyecto>
  </div>
</div>

-->
<div class="p-3" id="fondo-pantalla4">
  <div class="container ">
    <div class="row m-2 text-center">
      <h4 class="mb-3 text-start text-wrap">Si quieres comunicarte conmigo o ver alguno de mis trabajos:</h4>
      <a class="text-decoration-none text-light col-4" href="https://github.com/jortegah79"><i style="font-size:25px"
          class="bi bi-github me-2">GitHub</i></a>
      <a class="text-decoration-none text-light col-4" href="jortegah79@gmail.com"><i style="font-size:25px"
          class="bi bi-envelope me-2">Gmail</i></a>
      <a class="text-decoration-none text-light col-4" href="https://www.linkedin.com/in/juanortegah/"><i style="font-size:25px"
          class="bi bi-linkedin me-2">LinkedIn</i></a>
    </div>
  </div>
</div>