<div class="cuestionario" id="contacto">


    <form id="survey-form" action="https://formspree.io/f/xvoeqqer" method="POST">
        <h2 class="letra text-center mb-4" id="title">Contactame</h2>
        <table>
            <tr class="mb-2">
                <td class="p-2 h5">Nombre</td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="nombre" required placeholder="Tu nombre...">
            </tr>
            <tr class="mt-4 mb-2">
                <td class="p-2 h5">Email</td>
            </tr>
            <tr>
                <td><input type="email" class="form-control" name="email" required placeholder="Tu email...">
            </tr>
            <tr class="mt-4  mb-2">
                <td class="p-2 h5">Mensaje</td>
            </tr>
            <tr>
                <td><textarea cols="20" rows="8" type="textarea" class="form-control" name="comentarios" required
                        placeholder="Tus comentarios..."></textarea>
            </tr>
            <tr class="d-flex justify-content-end me-3 mt-3">
                <td colspan="2"><button class="btn btn-outline-light" id="submit" type="submit">Aceptar</button>
                </td>
            </tr>
        </table>

    </form>
</div>