
<div class="fondo-hero container-fluid ">
    <div class="container">
        <div class="row pt-3 pt-md-5 d-flex justify-content-between">
            <img class="col-12 col-lg-5 shadow imagen-pri" src="assets/coso.jpg" alt="">
            <div class="card col-12 col-lg-5 py-4  shadow">
                <div class="card-body" >
                    <h5 class="card-title">
                        <texto-component class="text-center"title="{{title1}}"></texto-component>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
                    <p class="card-text"><texto-component texto="{{texto1}}" /></p>
                </div>
            </div>
        </div>

        <div class="col-12 row m-md-3 mt-2">
            <texto-component class="mt-4" title="{{title2}}"></texto-component>
            <texto-component class="mt-1" texto="{{texto2}}"></texto-component>
            <texto-component texto="{{texto3}}"></texto-component>
            <texto-component texto="{{texto4}}"></texto-component>
        </div>
    </div>
</div>
<app-skills ></app-skills>