.nav-link{
    color: rgb(187, 211, 243)!important;
    font-size:24px;
    transition:all 0.5s;
}
.nav-link:hover{
    color: rgb(24, 113, 230, 1)!important;
    font-size:26px;
}
nav{
    margin-bottom:0!important;
}
li{
    cursor:pointer;
    color:white;
    margin-right:15px;
}